body{
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: inline;
  font-family: sans-serif;
}

.choose-difficulty-panel{
  position: absolute;
  left: 680px;
  top: 100px;
  background-color: #FFFFFF;
  width: 200px;
  height: 170px;
  display: block;
  border-radius: 5px;
  box-shadow: 10px 10px 30px grey;
}

.arrow-right {
  width: 0;
  height: 0;
  position: relative;
  left: 200px;
  top: -135px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #FFFFFF;
  filter: drop-shadow(10px 10px 30px grey);
}

.hidden{
  display: none;
}

.shown{
  display: block;
}

.choose-difficulty-header{

  padding-bottom: 10px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.difficulty-level-button{
  background-color: #FFFFFF00;
  border: none;
  display: block;
  float: top;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.difficulty-level-button:hover{
  box-shadow: 2px 2px 50px white;
  background-color: #EEE;
}

.settings-logo{
  width: 30px;
  background-color: transparent;
}

.settings-logo-container{
  float: right;
  display: inline-block;
  cursor: pointer;
}

header{
  background-color: #EEE;
  padding: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 5px solid #DDD;
}

.game-container{
  text-align: center;
  height: 300px;
}

.board-container{
  float:left;
  margin-left: 200px;
}

.game-container > *{
  display: inline-block;
}

.all-buttons-container{
  margin: 0px;
  display: grid;
  float: left;
  margin-left: 50px;
}

.number-grid-container{
  margin: 0 auto;
}

.num-button{

  width: 115px;
  height: 115px;
}

.num-button > *{
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  width: 115px;
  height: 115px;
  font-size: 40px;
  background-color: #EEE;
  color: #111;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.num-button > *:hover{
  background-color: #CCC;
}

.top-buttons-container{
  width: 370px;
  height: 250px;
  margin-bottom: 20px;
  background-color: #F2F2F2;
  font-size: 20px;
}

.auto-checker-container{
  display: inline-block;
  cursor: pointer;
}

.auto-checker-container > * {
  display: inline-block;
}

.auto-checker-container > div{
  margin-right: 20px;
  margin-left: 10px;
}

.settings-and-autocheck-container{
  display: inline-block;
  background-color: red;
}

.auto-checker-container > input[type=checkbox]{
  background-color: #CCC;
  width: 20px;
  height: 60px;
  border: none;
  border-radius: 10%;
  font-size: 15px;
  vertical-align:middle;
}

.new-board-button{
  margin: 20px;
  width: 320px;
  height: 60px;
  background-color: #1272e3;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.new-board-button:hover{
  background-color: #1064c4;
}

.solve-button{
  background-color: #CCC;
  margin: 10px;
  width: 90px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.solve-button:hover{
  background-color: #AAA;
}

.hint-button{
  background-color: #CCC;
  margin: 10px;
  width: 90px;
  height: 60px;
  border: none;
  border-radius: 10%;
  font-size: 15px;
  cursor: pointer;
}

.hint-button:hover{
  background-color: #AAA;
}

.check-button{
  background-color: #CCC;
  margin: 10px;
  width: 90px;
  height: 60px;
  border: none;
  border-radius: 10%;
  font-size: 15px;
  cursor: pointer;
}

.check-button:hover{
  background-color: #AAA;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: black;
  text-align: center;
  margin: 30px;
}



table.sudoku-grid{
  border: 2px solid black;
}
td.sudoku-grid {
  border: 0.5px solid #AAA; /* Style just to show the table cell boundaries */
}


table.sudoku-grid.no-spacing {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

.square{
  vertical-align: middle;
  box-sizing: "border-box";
  margin: 0px;
  padding: 0px;
  width: 67.3px;
  height: 67.3px;
  font-size: 35px;
  border-radius: 0px;
  border: none;
}

.baseValue{
  font-weight: bolder;
  color: #000;

}

.baseValParent{
  background-color: #F0F0F0;
}

input[type=text]{
  text-align: center;
  border: none;
}

.focused{
  background-color: #bbdefb;
}

.focused > *{
  background-color: #bbdefb;
}

.wrong{
  background-color: #faaaaa;
}

.wrong.focused{
  background-color: #fa8787;
}

.justHinted {
  background-color: #CCC;
}

.justHinted > * {
  background-color: #CCC;
}

.wrong.focused > * {
  background-color: #fa8787;
}

.wrong > *{
  background-color: #faaaaa;
}

input[type=text]:focus{
  outline: none;
  border: none;
  caret-color: transparent;
}

.sudoku-grid.rightBorder{
  border-right: 2px solid #888;
}

.sudoku-grid.bottomBorder{
  border-bottom: 2px solid #888;
}
