html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: inline;
  height: 100%;
  font-family: sans-serif;
}

body.light{
  background-color: white;
}

body.dark{
  background-color: #111;
}

.choose-difficulty-panel{
  position: absolute;
  left: 680px;
  top: 100px;
  width: 200px;
  height: 170px;
  display: block;
  border-radius: 5px;
  box-shadow: 10px 10px 30px grey;
}

.hidden{
  display: none;
}

.shown{
  display: block;
}

.choose-difficulty-panel.light{
  background-color: #FFF;
}

.choose-difficulty-panel.dark{
  background-color: #000;
}

.arrow-right {
  width: 0;
  height: 0;
  position: relative;
  left: 200px;
  top: -135px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.arrow-right.light{
  border-left: 15px solid #FFFFFF;
  filter: drop-shadow(10px 10px 30px grey);
}

.arrow-right.dark{
  border-left: 15px solid #000;
  filter: drop-shadow(10px 10px 30px grey);
}

.choose-difficulty-header{
  padding-bottom: 10px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 18px;
}

.choose-difficulty-header.light{
  color: #000;
  border-bottom: 1px solid black;
}

.choose-difficulty-header.dark{
  color: #999;
  border-bottom: 1px solid #EEE;
}

.difficulty-level-button{
  border: none;
  display: block;
  float: top;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.difficulty-level-button.light{
  background-color: #FFFFFF00;
  color: black;
}

.difficulty-level-button.dark{
  background-color: #00000000;
  color: white;
}

.difficulty-level-button.light:hover{
  box-shadow: 2px 2px 50px white;
  color: black;
  background-color: #EEE;
}

.difficulty-level-button.dark:hover{
  box-shadow: 2px 2px 50px white;
  color:black;
  background-color: #EEE;
}

.settings-logo{
  width: 30px;
  background-color: transparent;
}

.settings-logo-container{
  float: right;
  display: inline-block;
  cursor: pointer;
}

header{
  padding: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;

}

header.light{
  background-color: #EEE;
  color: black;
  border-bottom: 5px solid #DDD;
}

header.dark{
  background-color: #333;
  color: white;
  border-bottom: 5px solid #222;
}

.game-container{
  text-align: center;
  height: 300px;
}

.board-container{
  float:left;
  margin-left: 200px;
}

.game-container > *{
  display: inline-block;
}

.all-buttons-container{
  margin: 0px;
  display: grid;
  float: left;
  margin-left: 50px;
}

.number-grid-container{
  margin: 0 auto;
}

.num-button{
  width: 115px;
  height: 115px;
}

.num-button > *{
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  width: 115px;
  height: 115px;
  font-size: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.num-button.light > *{
  background-color: #EEE;
  color: #111;
}

.num-button.dark > *{
  background-color: #222;
  color: #CCC;
  box-shadow: 0px 0px 10px #000;
}


.num-button.light > *:hover{
  background-color: #CCC;
}

.num-button.dark > *:hover{
  background-color: #555;
}

.top-buttons-container{
  width: 370px;
  height: 250px;
  margin-bottom: 20px;
  font-size: 20px;
}

.top-buttons-container.light{
  background-color: #F2F2F2;
}

.top-buttons-container.dark{
  background-color: #222;
  box-shadow: 0px 0px 10px #000;
}

.auto-checker-container{
  display: inline-block;
  cursor: pointer;
}

.auto-checker-container > * {
  display: inline-block;
}

.auto-checker-container > div{
  margin-right: 20px;
  margin-left: 10px;
}

.settings-and-autocheck-container{
  display: inline-block;
}

.auto-checker-container > input[type=checkbox]{
  width: 20px;
  height: 60px;
  border: none;
  border-radius: 10%;
  font-size: 15px;
  vertical-align:middle;
}

.auto-checker-text.light{
  color: black;
}

.auto-checker-text.dark{
  color: #DDD;
}

.new-board-button{
  margin: 20px;
  width: 320px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.new-board-button.light{
  background-color: #1272e3;
  color: white;
}

.new-board-button.dark{
  background-color: #49ba5a;
  color: black;
}

.new-board-button.light:hover{
  background-color: #1064c4;
}

.new-board-button.dark:hover{
  background-color: #368f44;
}

.solve-button{
  margin: 10px;
  width: 90px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.solve-button.light{
  background-color: #CCC;
  color: black;
}

.solve-button.dark{
  background-color: #999;
  color: black;
}

.solve-button.light:hover{
  background-color: #AAA;
}

.solve-button.dark:hover{
  background-color: #BBB;
}

.hint-button{

  margin: 10px;
  width: 90px;
  height: 60px;
  border: none;
  border-radius: 10%;
  font-size: 15px;
  cursor: pointer;
}

.hint-button.light{
  background-color: #CCC;
  color: #000;
}

.hint-button.dark{
  background-color: #999
}

.hint-button.light:hover{
  background-color: #AAA;
}

.hint-button.dark:hover{
  background-color: #BBB;
}

.check-button{
  margin: 10px;
  width: 90px;
  height: 60px;
  border: none;
  border-radius: 10%;
  font-size: 15px;
  cursor: pointer;
}

.check-button.light{
  background-color: #CCC;
}

.check-button.dark{
  background-color: #999;
}

.check-button.light:hover{
  background-color: #AAA;
}

.check-button.dark:hover{
  background-color: #BBB;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 30px;
}

footer.light{
  background-color: #fff;
  color: black;
}

footer.dark{
  border-color: #111;
  color: #CCC;
}

table.sudoku-grid.light{
  border: 2px solid black;
}

table.sudoku-grid.dark{
  border: 2px solid white;
}

td.sudoku-grid.light{
  border: 0.5px solid #AAA; /* Style just to show the table cell boundaries */
}

td.sudoku-grid.dark{
  border: 0.5px solid #CCC;
}


table.sudoku-grid.no-spacing {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

.square{
  vertical-align: middle;
  box-sizing: "border-box";
  margin: 0px;
  padding: 0px;
  width: 67.3px;
  height: 67.3px;
  font-size: 35px;
  border-radius: 0px;
  border: none;
}

.square.light{
  color: black;
  background-color: white;
}

.square.dark{
  color: #b3d0ff;
  background-color: #050505;
}

.baseValue{
  font-weight: bold;
}

.baseValue.light{
  color: #000;
}

.baseValue.dark{
  color: #EEE;
}

.baseValParent.light{
  background-color: #F0F0F0;
}

.baseValParent.dark{
  background-color: #121212;
}

input[type=text]{
  text-align: center;
  border: none;
}

.focused.light{
  background-color: #bbdefb;
}

.focused.dark{
  background-color: #516e9c;
}

.focused.light > *{
  background-color: #bbdefb;
}

.focused.dark > *{
  background-color: #516e9c;
}

.wrong.light{
  background-color: #faaaaa;
}

.wrong.dark{
  background-color: #420500;
}

.wrong.focused.light{
  background-color: #fa8787;
}

.wrong.focused.dark{
  background-color: #820900;
}

.justHinted.light {
  background-color: #CCC;
}

.justHinted.dark {
  background-color: #444;
}

.justHinted.light > * {
  background-color: #CCC;
}

.justHinted.dark > * {
  background-color: #444;
}

.wrong.focused.light > * {
  background-color: #fa8787;
}

.wrong.focused.dark > * {
  background-color: #820900;
}

.wrong.light > *{
  background-color: #faaaaa;
}

.wrong.dark > *{
  background-color: #420500;
}

input[type=text]:focus{
  outline: none;
  border: none;
  caret-color: transparent;
}

.sudoku-grid.rightBorder.light{
  border-right: 2px solid #888;
}

.sudoku-grid.rightBorder.dark{
  border-right: 2px solid #BBB;
}

.sudoku-grid.bottomBorder.light{
  border-bottom: 2px solid #888;
}

.sudoku-grid.bottomBorder.dark{
  border-bottom: 2px solid #BBB;
}

/*SETTINGS PANEL*/

.settings-panel-super-container{
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #FFFFFFAA;
  position: absolute;
  z-index: 0;
}

.settings-panel-container{
  width: 1200px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;

  margin: -300px 0 0 -600px;
  background-color: #FFF;
  border-radius: 20px;
  border: 10px solid #DDD;
  box-shadow: 0px 0px 50px grey;
}

.settings-panel-header{
  font-size: 30px;
  margin: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.settings-panel-close-button-container{
  position: absolute;
  background-color: white;
  width: 70px;
  height: 70px;
  right: 0px;
  top: 0px;
  margin: -25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px #EEE;
  cursor: pointer;
}

.settings-panel-close-button-container > *{
  position: relative;
  width: 40px;
  height: 40px;
  left: 50%;
  font-size: 30px;
  text-align: center;
  margin-left: -20px;
}

.settings-panel-theme-container{
  margin: 20px;
}

.settings-panel-theme-header{
  color: darkblue;
  font-size: 20px;
  margin-bottom: 15px;
}

.settings-panel-theme-radio{
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.settings-panel-theme-label{
  cursor: pointer;
}


.settings-panel-get-board-string-header{
  color: darkblue;
  font-size: 20px;
  margin: 20px;
  margin-bottom: 15px;
}

.settings-panel-get-board-string-input{
  margin: 10px;
  margin-left: 20px;
  width: 800px;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}

.settings-panel-get-board-string-button{
  background-color: #EEE;
  border: none;
  color: #1272e3;
  font-weight: bold;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  border-radius: 5px;
  display: block;
}

.settings-panel-get-board-string-button:hover{
  background-color: #DDD;
  cursor: pointer;
}
